body {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  background-color: #FFB6C1;
}


.main-container {
  display: flex;
  flex-direction: column;
}
  

nav {
  background-color: #fbe8e7;
  color: #444444;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pacifico', cursive;
    }

 nav a {
  color: #E67E22;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
    }


 nav a:hover {
  color: #f04e30; /* Bright red or accent */
  transform: scale(1.15);
    }


.header-deco {
  position: relative;
  display: inline-block;              /* shrink-wrap container to text */
  background-image: url("../rainbow.svg");
  background-repeat: no-repeat;
  background-size: contain;         /* stretch SVG to cover container */
  background-position: center center;
  padding: 6rem 5rem;               /* space inside cloud around text */
  margin: 2rem auto;
}


.super-header {
  position: relative;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #000000;
  text-shadow: 2px 2px 5px #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
 }


/* Decorative Images */
.paintbrush-top {
  position: absolute;
  top: 1vw;        /* closer vertically */
  right: 3vw;      /* closer horizontally */
  width: 5vw;
  heigth: auto;
  transform: none; /* remove translate or adjust if needed */
}


.plant-bottom {
  position: absolute;
  bottom: 1vw;     /* closer vertically */
  left: 1vw;       /* closer horizontally */
  width: 5vw;
  height: auto;
  transform: none;
}

#about-me-section {
  background-color: #E6E6FA;
  padding: 3rem 1rem;
  font-family: 'Pacifico', cursive; 
}

.about-me {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  max-width: 1000px;
}

.about-me-img {
  object-fit: contain;
  width: 30%;
 }

.about-me-text {
  flex: 1;
  font-size: 2rem;
 }
